---
import CenteredExpandButton from "../components/CenteredExpandButton.astro";
import DayWeekToggle from "../components/DayWeekToggle.astro";
import InlineExpandButton from "../components/InlineExpandButton.astro";
import {
  strip,
  formatHost,
  formatCount,
  formatDate,
  urlFromPost,
} from "../util/Format";

const { links, toggle, generatedAt } = Astro.props;
---

<main>
  <DayWeekToggle toggle={toggle} />
  <div class="container-group">
    {
      links.map((link) => (
        <div class="container">
          <div class="link">
            <a href={link.url} class="preview" data-original-url={link.url}>
              {link.thumbnail_id ? (
                <img
                  src={`https://assets.theblue.report/thumbnails/${link.thumbnail_id}.jpg`}
                />
              ) : (
                <div class="placeholder">📄</div>
              )}
            </a>
            <div class="content">
              <a href={link.url} data-original-url={link.url}>
                <h2>
                  {link.rank}. {link.title}
                </h2>
              </a>
              <div class="subcontent">
                <p class="metadata">
                  <span class="host">{formatHost(link.url)}</span>
                  <span class="bullet">•</span>
                  <span>
                    {formatCount(link.post_count)} posts,{" "}
                    {formatCount(link.repost_count)} reposts,{" "}
                    {formatCount(link.like_count)} likes
                  </span>
                </p>
                <InlineExpandButton id={strip(link.url)} />
              </div>
            </div>
          </div>
          <div class="link-details" id={strip(link.url)}>
            <div class="recommended-posts">
              {link.recommended_posts.map((post) => (
                <div class="recommended-post card">
                  <div class="inner">
                    <div>
                      <p class="username">{post.username}</p>
                      <a
                        class="handle"
                        href={`https://bsky.app/profile/${post.handle}`}
                      >
                        {post.handle}
                      </a>
                      <p class="text">{post.text}</p>
                    </div>
                    <div class="view-more">
                      <a href={urlFromPost(post.at_uri, post.handle)}>
                        View Post
                      </a>
                    </div>
                  </div>
                </div>
              ))}
            </div>
          </div>
          <CenteredExpandButton id={strip(link.url)} />
        </div>
      ))
    }
  </div>
  <p class="last-updated">Last updated {formatDate(generatedAt)}</p>
  <div class="link-button" style="margin-top: 1.5em;">
    <a href="/sites/"
      ><span>View top sites report</span><svg
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          d="m0 0h24v24h-24z"
          fill="#fff"
          opacity="0"
          transform="matrix(0 -1 1 0 0 24)"></path><path
          d="m10 19a1 1 0 0 1 -.64-.23 1 1 0 0 1 -.13-1.41l4.48-5.36-4.32-5.37a1 1 0 0 1 .15-1.41 1 1 0 0 1 1.46.15l4.83 6a1 1 0 0 1 0 1.27l-5 6a1 1 0 0 1 -.83.36z"
          fill="var(--link-color)"></path></svg
      ></a
    >
  </div>
  <script is:inline>
    function toggleLinkDetails(id) {
      const content = document.getElementById(id);
      const inlineButton = document.getElementById(`${id}-inline`);
      const centeredButton = document.getElementById(`${id}-centered`);
      if (!content || !inlineButton || !centeredButton) return;

      if (content.classList.contains("open")) {
        inlineButton.classList.remove("open");
        centeredButton.classList.remove("open");
        content.classList.remove("open");
      } else {
        inlineButton.classList.add("open");
        centeredButton.classList.add("open");
        content.classList.add("open");
      }
    }
  </script>
</main>
